@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .bgHomeDesktop{
        background-image: url('/assets/home/background-home-desktop.jpg');
    }
    .bgHomeTablet{
        background-image: url('/assets/home/background-home-tablet.jpg');
    }
    .bgHomeMobile{
        background-image: url('/assets/home/background-home-mobile.jpg');
    }
    .bgDestinationDesktop{
        background-image: url('/assets/destination/background-destination-desktop.jpg');
    }
    .bgDestinationTablet{
        background-image: url('/assets/destination/background-destination-tablet.jpg');
    }
    .bgDestinationMobile{
        background-image: url('/assets/destination/background-destination-mobile.jpg');
    }
    .bgCrewDesktop{
        background-image: url('/assets/crew/background-crew-desktop.jpg');
    }
    .bgCrewTablet{
        background-image: url('/assets/crew/background-crew-tablet.jpg');
    }
    .bgCrewMobile{
        background-image: url('/assets/crew/background-crew-mobile.jpg');
    }
    .bgTechnologyDesktop{
        background-image: url('/assets/technology/background-technology-desktop.jpg');
    }
    .bgTechnologyTablet{
        background-image: url('/assets/technology/background-technology-tablet.jpg');
    }
    .bgTechnologyMobile{
        background-image: url('/assets/technology/background-technology-mobile.jpg');
    }
}